body {
    margin: 0;
    overflow: hidden;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.app-main {
    text-align: center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.searchInputBox {
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    outline: none;
    color: #aa4c69;
    font-size: 3rem; /* Adjust font size as needed */
    height: 190px; /* Adjust height as needed */
    border-radius: 10px;
    padding: 0 20px;
    text-align: center;
    margin-bottom: 20px; /* Add margin as needed */
}

.input-box:focus {
    background-color: rgba(255, 255, 255);
}

.weather-body {
    display: none;
    color: #582233;
    padding: 20px;
    line-height: 2rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    height: 50vh;
    transition: 0.3s ease;
}

.location-details {
    font-weight: bold;
}

.weather-status {
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.temp {
    font-size: 50pt;
    font-weight: 700;
    margin: 20px 0;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.3);
}

.weather-status .icon-name {
    background: #7e7e7e5e;
    border-radius: 20px;
    width: fit-content;
}

.min-max,
.weather {
    margin: 5px;
    font-size: 12pt;
    font-weight: 600;
}
